.top {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
	height: 75vh;
	justify-content: center;
}

.bottom {
	background-image: url('../../../assets/static-background.jpg');
	padding: 3rem;
	padding-top: 13rem;
}

.logo {
	width: 65%;
	max-width: 60rem;
}

.links {
	display: flex;
	gap: 3rem;
	padding-bottom: 5rem;
}

.link {
	background: none;
	border: none;
	transition: 0.25s;
}

.link:hover {
	cursor: pointer;
	transform: scale(1.15);
	box-shadow: 0 0 0.75rem 1rem var(--accent-2);
	background-color: var(--accent-2);
	border-radius: 50%;
}

.link-icon {
	height: 4rem;
}

.about-header {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 3rem;
}

.members {
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.member {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.4rem;
}

.member img {
	width: 10rem;
	height: 10rem;
	cursor: pointer;
	transition: 0.25s;
}
.member img:hover {
	transform: scale(1.05);
}

@media screen and (max-width: 650px) {
	.links {
		gap: 2rem;
	}

	.link-icon {
		height: 2.7rem;
	}

	.member {
		font-size: 1.2rem;
	}

	.member img {
		width: 8rem;
		height: 8rem;
	}
}

/* Push down about section */
@media screen and (max-height: 1100px) {
	.top {
		height: 70vh;
	}

	.bottom {
		padding-top: 12rem;
	}
}
@media screen and (max-height: 900px) {
	.top {
		height: 65vh;
	}

	.bottom {
		padding-top: 12rem;
	}
}
@media screen and (max-height: 750px) {
	.top {
		height: 60vh;
	}

	.bottom {
		padding-top: 12rem;
	}
}