* {
	/* Variables */
	--background: #090909;
	--text: #f8f8ff;
	--accent-1: #7f5899;
	--accent-2: #322c58;

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--text);
	font-family: 'Montserrat', sans-serif;
}

.page {
	margin-top: 3rem;
}

.btn {
	font-size: 1.25rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
}

.btn:hover {
	filter: brightness(0.9);
}

.check::before {
	content: '✓';
	color: forestgreen;
}