* {
	/* Variables */
	--background: #090909;
	--text: #f8f8ff;
	--accent: #4b327c;

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--text);
	font-family: 'Montserrat', sans-serif;
}

.page {
	margin-top: 3rem;
}