* {
	/* Variables */
	--background: #090909;
	--text: #f8f8ff;
	--accent-1: #7f5899;
	--accent-2: #322c58;
	--s-tier: rgb(255, 127, 127);
	--a-tier: rgb(255, 191, 127);
	--b-tier: rgb(255, 255, 127);
	--c-tier: rgb(191, 255, 127);
	--d-tier: rgb(127, 255, 127);
	--f-tier: rgb(127, 255, 191);

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--text);
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: var(--background);
}

.page {
	margin-top: 3rem;
}

.btn {
	font-size: 1.25rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
	transition: 0.25s;
}

.btn:hover, .btn:focus {
	filter: brightness(0.9);
}

.check::before {
	content: '✓';
	color: forestgreen;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label::before {
	content: '';
	display: inline-block;
	width: 0.75rem;
	height: 0.75rem;
	background-color: var(--background);
	border-radius: 50%;
	border: 2px solid var(--text);
	margin-right: 1rem;
	transition: 0.25s ease-in-out;
}

input[type="radio"]:checked + label::before {
	background-color: var(--accent-1);
	box-shadow: 0 0 5px 2px var(--accent-1);
}

input[type="radio"]:hover + label::before {
	background-color: var(--accent-2);
}

.line {
	width: 100%;
	height: 1px;
	background-color: var(--text);
}